*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-size: 200%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/pexels-karolina-grabowska-5412096.jpg);
    background-size: cover;
    color: coral;
}

body nav{
    padding-left: 50px;
    font-weight: bold;

}

body h1{
    color: coral;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 60px;
    text-align: left;
}

body a{
    color: white;
}

body p{
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;
    text-align: left;
}

body input{
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    color: black;
    font-size: 18px;
}

body legend{
    padding-top: 5px;
   color: white;
    font-size: 23px;
}

body label{
    padding-left: 20px;
    color: white;
    font-size: 18px;
}

body form{
   padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
}

body strong{
    color: white;
}

body h4{
    font-size: 20px;
    color: coral;
}

body h4 strong{
    color: white;
}

.dataTables_info {
    color: white;
}

.dataTables_filter label {
    color: coral;
}

div.dataTables_length select {
    color: green !important;
    background-color: white !important;
    width: 50px;
    display: inline;
}

.dataTables_filter input {
   background-color: white !important;
}



body fieldset{
    padding-left: 25px;
    padding-bottom: 5px;
}


footer{
   padding-left: 25px;
    padding-top: 200px;
    text-align: center;
}

/*-------sixthsection------*/
.sixthsection{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    position: relative;
}
.sixthsection:before{
    margin-top: 100px;
}

.sixthsection h1{
    text-align: center;
    color: coral;
    font-weight: bolder;
}

.sixthsection h2{
    text-align: center;
    color: white;
}

.sixthsection-col{
    flex-basis: 30%;
    text-align: left;
    overflow: hidden;
    list-style-type: none;
}

.sixthsection h3{
    color: coral;
    font-weight: bolder;
    font-size: 25px;
    padding: 20px;
    text-align: left;
}
.sixthsection p {
    line-height: 40px;
    font-size: 20px;
    text-align: left;
}

.sixthsection li {
    padding-left: 20px;
    margin-left: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: left;
    color: white;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
    color: black;
    text-align: left;
}

code p {
    color: black;
}






