{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>Topic</h1>
     {% if error %}
        <div class="alert alert-danger error" role="alert">
             {{ error }}
        </div>
      {% endif %}
   <section class="sixthsection" id="fframe">
    <h1>Seperation of Concerns<br><br></h1>
    <div class="sixthsection-con">
        <div class="sixthsection-row">
            <div class="sixthsection-col">
                <h3>What is separation of concerns? </h3>
                    <p>Separation of concerns is a software architecture design pattern/principle for separating an application into distinct sections. The design is for each section to address a separate concern. This created an organized system where each section has a meaningful and easily understood role and is easily adaptable to change. Separation of concerns is achieved through logical boundaries with methods, objects, and intended purpose of creation. You can think of this as a hierarchy.
                    <br>
                    <br>In the calculator project we can see a hierarchy of concerns through a separate folders of classes and methods grouped with a common purpose in mind. The Calculation folder aims at the actual operatives of the calculator and the calculations itself. The history folder focuses on the history of calculations completed and the supported functions for retrieval and clearing of the generated history. The calculator folder has the purpose of invoking the methods of the operatives and the history in order to complete multiple tasks with only one method call. And finally, the test folder aims as testing each of the other methods within different folders.
                    </p>
                <h3><br>Advantages of designing a separation of concerns within your code and examples with the Calculator project:</h3>
                    <p> &nbsp;Lack of duplication: Each component has a singular purpose and helps the with overall code maintenance. In the calculator project - we can see this in each method implemented. Each method's purpose is singular. Example - Addition returns the result. Add calculation to history - only has the purpose of adding the values to a list for reference, clear history resets all values in the list to null.
                    <br><br> &nbsp;The system becomes more stable - this is attributed by each component having a singular and not complex purpose.
                    <br><br> &nbsp;Components which are more easily reused in other systems, or different contexts within the same system: In the calculator project we can see how the individual operations are called for by the operative methods as well as the methods to get the first result and the most recent result. In this case the purpose is similar but the execution of the method is different.
                    </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
